*   {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 1px 1px #000000;
    color: black;
}
.top{
    height: 800px;
    background: red;
    width: 100%;
    background: url(../images/icon/37.jpg);
    border-bottom-left-radius: 400px ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color:white;
    text-shadow: 1px 1px #000000;
    border-bottom-right-radius: 400px ;
    box-shadow: 8px 1px 10px #888888;
}
.top_other{
    height: 400px;
    background: red;
    width: 100%;
    background: url(../images/icon/other.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color:white;
    text-shadow: 1px 1px #000000;
}
.div_pos_fix {
    position: fixed;
    width: 100%;
}
.li_top {
   padding: 0 2%;
   display: inline;
   text-align: right;
}
.span_logo{
    font-size: 30px;
    font-weight: bold;
    margin-right: 30%;
    margin-left: 15%;
    cursor: pointer;
}
.ul_top {
    padding-top: 4px;
    background: rgba(37, 37, 37, 0.5);
    padding-bottom: 1%;
    position: relative;
}
.li_hover_main:hover {
    color:salmon;
    cursor: pointer;
    text-shadow: none;
}
.img_main_page {
    width: 100%;
    height: 100%;
}
.span_center {
    /* display: flex;
    justify-content: center;
    font-size: 30px; */
    position: absolute;
    top: 180px;
    right: 512px;
    font-size: 60px;
    font-weight: bold;
    text-shadow: 2px 2px #000000;
}
.p_description {
    position: absolute;
    top: 260px;
    right: 620px;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px #000000;
}
.a_mail{
    position: absolute;
    top: 650px;
    left: 7%;
}
.a_order {
    position: absolute;
    top: 650px;
    right: 7%;

}
.a_bordering {
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px #000000;
    color: white;
    cursor: pointer;
    text-decoration: none;
    border: solid white 3px;
    padding: 7px 10px;
    border-radius: 5px;
}
.button_decoration {
    background: none;
    border-radius: 1px;
    position: absolute;
    top: 650px;
    right: 200px;
    font-size: 20px;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    color: white;
}
.choice {
    position: relative;
    padding-bottom: 10px;
}
.ul_choice{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.li_choice {
    justify-content: center;
    font-size: 20px;
    margin: 0 3%;
    display: inline;
    text-align: right;
    color: rgb(54, 54, 54);
}
.li_choice:hover {
    color: salmon;
    cursor: pointer;
    text-shadow: none;
}
.div_single_photo {
    /* background:red; */
    width: 384px;
    height: 216px;
    background-size: cover;
    margin: 30px;
    display: inline-block;
}
.img_single_photo {
    width: 384px;
    height: 216px;
}
.div_photo_position {
}
.img_single_photo:hover {
    transform: scale(1.35);
    -webkit-transform: scale(1.35);
    -moz-transform: scale(1.35);
    transition-duration: 3s;
    margin: 0 auto;
    display: block
}
.photos {
    margin-left: 60px;
}
.a_color_inside:hover {
    background: salmon;
}
.underline {
    border-bottom: 2px solid red;
}
img[src=""]{
    display: none; /* łopatologiczne usunięcie szarej ramki, tak gdzie nie podaliśmy źródła obrazka */ 
}
.bordered {
    border-bottom: 2px solid salmon;
}
.a_dis_none {
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    text-shadow: 1px 1px #000000;
}
.a_dis_none:hover {
    color:black;
}
.a_normal {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px #000000;
}
.a_normal:hover {
    color:black;
    cursor: pointer;
    text-shadow: none;
}
.p_home_about {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;

}
.p_about_us {

    text-align: center;
    font-weight: bold;
    font-size: 40px;
}
.span_color {
    color: salmon;
}
.div_about_us {
    display: flex;
    width: 80%;
    height: 400px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 50px;
}
.div_left {
    color: rgb(82, 82, 82);
    width: 40%;
    padding-left: 15px;
    padding-top: 10px;
    text-shadow: none;
}
.div_right {
    width: 40%;
    background: url(../images/icon/20.jpg);
    border-radius: 40px;
}
.p_title {
    text-align: center;
    font-weight: bold;
    color: salmon;
    font-size: 30px;
    /* border-bottom: 1px solid salmon; */
    margin-bottom: 70px;
}
.button_contact {
    text-decoration: none;
    background: none;
    border-radius: 1px;
    font-size: 20px;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    color: white;
    border: none;
    padding-top: 100px;
    padding-left: 50px;
    color: salmon;
    font-weight: bold;
}
.div_why_sosenka { 
    margin-left: 30px;
    margin-top: 50px;
    height: 700px;
    background: rgb(243, 242, 242);
    border-top-left-radius: 500px;
    border-bottom-left-radius: 500px;
}
.no_fixed {
    padding-top: 150px;
}
.button_contact:hover {
    color: rgb(31, 31, 31)
}
.a_contact {
    font-weight: 600;
    color: salmon;
    text-decoration: none;
    padding: 10px 25px;
    border: 2px solid rgb(250, 128, 114);
    border-radius: 25px;
}
.a_contact:hover {
    background: salmon;
    color: white;
}
.p_sosenka_center {
    padding-top: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    color: rgb(44, 44, 44)
}
.div_reason_why {
    width: 60%;
    /* background: red; */
    height: 400px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
}
.left_reason {

}
.dimensions { 
    display: block;
    height: 350px;
    border-radius: 10px;
    width: 30%;
    margin: 0 5px;
    background: white;
    box-shadow: 2px 2px 5px #888888;
    color: rgb(124, 124, 124)
}
.dimensions:hover>.p_inside_center {
    background: salmon;
    color: white;
}
.dimensions:hover>.p_to_three {
    background: salmon;
    color: white;
} 
.dimensions:hover {
    background: salmon;
}

.p_inside_center {
    padding-top: 30px;
    margin-right: 10px;
    margin-left: 15px;
    color: grey;
    text-shadow: none;
}
.p_to_three {
    text-shadow: none;
    color: rgb(77, 77, 77);
    padding-top: 55px;
    text-align: center;
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 20px;
}
.div_why_sosenka {
    text-shadow: none;
}
.padding {
    margin-left: 30%;
    padding-left: 30%;
    width: 100%;
    height: 250px;
    color: rgb(65, 65, 65);
    font-weight: 26px;
}
.p_padding {
    margin-left: 10%;
    font-weight: 26px;
    color: rgb(65, 65, 65);
    text-shadow: none;
}
.order_box {
    margin-top: 80px;
    color: black;
    margin-left: 40%;
    text-shadow: none;
}
select {
    color: black;
}

input { 
    margin: 0 auto;
    margin-bottom: 10px;
    height: 30px;
    width: 40%;
}
.span_check_box {
    color: grey;
    font-size: 10px;
    position: absolute;
    left: 55%;
    text-shadow: none;
}
form {
    color: black;
    text-shadow: none;
}
.span_personal_data {
    text-shadow: none;
}
select {
    text-shadow: none;
}
.submit {
    background: salmon;
    text-decoration: none;
}
.submit:hover {
    background: black;
    color: white;
}
.no_shadow {
    text-shadow: none;
    color: black;
}
.selected {
    color: black;
}
.white {
    color: white;
}